html, body {
  height: 100%;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #FFFFFF;
  margin: 0;
  font-size: 22px;
  line-height: 38px;
  backface-visibility: hidden;
  }

  a {
    color: #69F0AE;
    text-decoration: none;
  }

  h3 {
    margin-top: 10px;
  }

  p {
    margin-top: 0;
    margin-bottom: 10px;
  }

.noTransition {
  transition: none !important;
}

body.scrollLock {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}


.container {
  background: linear-gradient(140deg, #ffbf1e, #de1aff, #25f18d);
  background-size: 600% 600%;
  min-width: 100%;
  min-height: 100%;
  -webkit-animation: GradientBackground 49s ease infinite;
  -moz-animation: GradientBackground 49s ease infinite;
  -o-animation: GradientBackground 49s ease infinite;
  animation: GradientBackground 49s ease infinite;
}

img.navIcon {
  width: 30px;
}

.navIcon#meetupIcon{
  transform: scale(1.2);
}
span.navText {
  box-sizing: border-box;
  font-size: 1em;
  padding-left: 15px;
  transform: translateY(15%);
  
  display: inline-block;
  overflow: hidden;
  color: #69f0ae;
}

.navBackground {
  width: calc( 170vw + 170vh );
  height: calc( 170vw + 170vh );
  background: #313440;
  border-radius: 100%;
  transform: translateY(-50%) translateX(50%) scale(0);
  transition: transform 0.4s;
  backface-visibility: hidden;
  will-change: transform;
  z-index: 50;
}

.navBackground.isActive {
  transform: translateY(-50%) translateX(50%) scale(1);
}

button.hamburger {
  border: none;
  padding: 0;
  cursor: pointer;  
  outline: none;
  
  background: none;
  z-index: 1000;
  transform: translateY(-50%) translateX(50%);
  
}

.navBackground, button.hamburger {
  position: absolute;
  top: 60px;
  right: 60px;
  -webkit-tap-highlight-color: transparent;
  
}
.hamburgerBox {
  display: block;
  width: 25px;
  height: 25px;
  padding: 15px;
  border-radius: 100px;
  background-color: white;
  transition: transform 0.4s cubic-bezier(0.61,-0.14, 0.41, 1.12);
}
.hamburgerInner {
  top: 50%;
  margin: auto;
  margin-top: -1px;
}

.hamburgerInner, .hamburgerInner::before, .hamburgerInner::after{
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 50px;
  position: absolute;
  background: rgba(222, 26, 255, 1);
  content: '';
  transition: transform 0.4s cubic-bezier(0.61,-0.14, 0.41, 1.12),
              background 0.4s;
}

.hamburgerInner::before { top: 8px; }
.hamburgerInner::after { top: -8px; }

.hamburger.isActive .hamburgerBox {
  transform: rotate(270deg);
} 

.hamburger.isActive .hamburgerInner{
  background: rgba(222, 26, 255, 0);
}

.hamburger.isActive .hamburgerInner::before{
  transform: translateY(-9px) rotate(-45deg);
}
.hamburger.isActive .hamburgerInner::after{
  transform: translateY(7px) rotate(45deg);
}

nav {
  position: absolute;
  top: 0; right: 0; left: 0; bottom: 0;
  background: none;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0s 0.3s;
}

nav.isActive {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s, visibility 0s;
}

nav > ul {
  padding: 0;
  display: inline-block;
}

nav > ul > li {
  list-style: none;
  padding: 5px 10px;
}


#jd-logo {
  padding-left: 25px;
  padding-top: 60px;
  padding-bottom: 30px;
  height: 2em;
  width: 200px;
}
@media only screen and (min-width: 600px) {
  #jd-logo {
    width: 250px;
    padding-left: 40px;
  }
}
 
@media only screen and (min-width: 800px) {
  #jd-logo {
    width: 300px;
    padding-left: 60px;
  }
  img.navIcon {
    width: 35px;
  }
  button.hamburger{
    display: none;
  }
  .navBackground {
    display: none;
  }
  nav {
    opacity: 1;
    visibility: visible;
    position: absolute;
    top: 30px;
    right: 70px;
    left: auto;
    bottom: auto;
    background: none;
  }

  span.navText {
    color: white;
    white-space: nowrap;
    font-size: 0.8em;
    max-width: 0;
    transition: max-width 0.4s, opacity 0.4s;
    opacity: 0;
  }

  nav > ul > li:hover span.navText {
    max-width: 300px;
    opacity: 1;
  }

  nav > ul > li {
    display: inline-block;
  }
} 
.jd-block {
  display: block;
}

.jd-greeting {
  display: block;
}

.container-content {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 600px;
}

input[type="text"], input[type="email"] {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: rgba(255,255,255,0.25);
  font-size: 22px;
  line-height: 38px;
  height: 26px;
  max-width: 100%;
}

/* text responsiveness */
@media only screen and (min-width: 600px) {
  .container-content {
    padding-left: 42px; 
    padding-right: 42px;
  }
  body, html {
    font-size: 25px;
    line-height: 40px;
  }
  input[type="text"], input[type="email"] {
    line-height: 40px;
    font-size: 25px; 
    height: 28px;
  }
}

@media only screen and (min-width: 800px) {
  .container-content {
    padding-left: 60px;
    padding-right: 60px;
  }
  body, html {
    line-height: 45px;
    font-size: 29px;
  }
  input[type="text"], input[type="email"] {
    line-height: 45px;
    font-size: 29px; 
    height: 32px;
  }
} 

input[type="text"]:focus, input[type="email"]:focus {
  outline: none;
}

select {
  visibility: hidden;
  position: absolute;
  left: -5000px;
}

.jd-chevron {
	border-style: solid;
	border-width: 0 0.13em 0.13em 0;
	content: '';
	display: inline-block;
	height: 0.35em;
	left: 0.15em;
	position: relative;
	top: 15px;
	transform: rotate(45deg);
	vertical-align: top;
	width: 0.35em;
  transition: all .2s ease;
}

.jd-chevron--scale {
  transform: rotate(45deg) scale(1.2);
}

.jd-chevron--rotate {
  transform: rotate(135deg) scale(1.2);
}

.jd-input-container {
  position: relative;
  white-space: nowrap;
}

.jd-input-value {
  border-bottom: 2px solid white;
  color: rgba(255,255,255,0.25);
  cursor: pointer;
  margin-right: .25em;
}

.hidden {
  display: none;
}

.visuallyHidden {
  opacity: 0;
  top: 50px;
}

.moveDown {
  top: 55px;
  height: auto;
  transition: all .4s ease;
}

.jd-select-contents {
  position: absolute;
  left: 0;
  min-width: 250px;
  z-index: 1;
  border-radius: 6px;
  padding: 25px 0;
  background-color: #313440;
  font-size: 16px;
  transition: all .4s ease;
}

.jd-select-contents::before {
  background: #313440;
  position: absolute;
  top: 2px;
  margin: -10px -50px;
  left: 30%;
  transform: rotate(45deg);
  content: '';
  width: 20px;
  border-radius: 4px;
  height: 20px;
}

.jd-select-contents span {
  display: block;
  cursor: pointer;
  padding: 0 15px;
  line-height: 2.2;
  border-left: 0 solid #69f0ae;
  transition: border-left .1s ease;
}

.jd-select-contents span:hover {
  border-left: 4px solid #69f0ae;
  transition: border-left .1s ease;
}

.jd-submit-button {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: 'Rubik', sans-serif;
  font-size: 26px;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  border-radius: 45px;
  border: none;
  padding: 18px;
  transition: all .1s ease;
}

.jd-submit-button--disabled {
  color: rgba(255,255,255,.25);
  background-color: rgba(49,52,64,.25);
}

.jd-submit-button--enabled {
  color: rgba(255,255,255,1);
  background-color: rgba(49,52,64,1);
  cursor: pointer;
}

.jd-submit-button--enabled:hover {
  transform: scale(1.05);
}

input[type="email"] {
  color: #69f0ae;
  width: 286px;
}

input[type="email"]::-webkit-input-placeholder {
  color: rgba(255,255,255,0.25);
}

/*Gradient Background Animation*/

  @-webkit-keyframes GradientBackground {
      0%{background-position:9% 0%}
      50%{background-position:92% 100%}
      100%{background-position:9% 0%}
  }
  @-moz-keyframes AnimationName {
      0%{background-position:9% 0%}
      50%{background-position:92% 100%}
      100%{background-position:9% 0%}
  }
  @-o-keyframes AnimationName {
      0%{background-position:9% 0%}
      50%{background-position:92% 100%}
      100%{background-position:9% 0%}
  }
  @keyframes AnimationName {
      0%{background-position:9% 0%}
      50%{background-position:92% 90%}
      80%{background-position:9% 9%}
  }

/*Responsive Design*/

/* Portrait */

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

  #jd-logo {
    padding-left: 20px;
    height: 1.7em;
  }

  .container-content {
    padding-left: 20px;
  }

  body {
    font-size: 26px;
  }

  .jd-block {
    display: inline;
  }

  .jd-input-container {
    position: inherit;
  }

  .jd-select-contents {
    width: 100%;
    text-align: center;
  }

  .jd-select-contents::before {
    background: transparent;
  }

    /*.container-content {
      padding-left: 60px;
      padding-right: 30px;
      line-height: 95px;
      font-size: 2.3em;
      max-width: 100%;
    }

      #jd-logo {
        padding-bottom: 40px;
        height: 4em;
      }

      .jd-tooltip{
        display: none;
      }

      .jd-select-contents {
        font-size: 30px;
        padding: 25px 10px;
        min-width: 250px;
      }


      input[type="text"], input[type="email"] {
        font-size: 54px;
        -webkit-font-smoothing: antialiased;
      }

      .jd-submit-button {
        margin-top: 30px;
        font-size: 50px;
        border-radius: 55px;
        padding: 28px;
      }*/
}
